@CHARSET "ISO-8859-1";
.containerNew {
  background-color: green;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}

#myProgress {
position: relative;
width: 40%;
height: 20px;
background-color: white;
}

#label {
text-align: center;
line-height: 20px;
color: white;

}

#myBar {
position: absolute;
wdth: 10%;
height: 100%;
background-color: #4CAF50

}